<launch>
<!-- <node name="manager_module" pkg="iba_manager" type="external_module_manager.py" respawn="false" output="screen"/> -->
<!-- <node name="Saliency" pkg="cdp4_scene_understanding" type="saliency.py" respawn="false" output="screen"/> -->
<node name="CDP4Loop" pkg="cdp4_scene_understanding" type="cdp4_loop.py" respawn="false" output="screen"/>
</launch>
